<% content_for :header_accessory do %>
  <%= link_to 'New Trip plan', new_trip_plan_path %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Listing Trip Plans</h1>

<ol class="tripPlans">
  <% @trip_plans.each do |trip_plan| %>
    <li class="tripPlan">
      <%= link_to trip_plan do %>
        <p class="tripPlan-image">
          <%= image_tag(trip_plan.image_url, width: 360) if trip_plan.image.present? %>
        </p>
        <p class="tripPlan-name">
          <%= trip_plan.name %>
        </p>
      <% end %>
    </li>
  <% end %>
</ol>
